<html>
  <head>
    <style></style>
  </head>

  <body>
    <h2>Hi, {{name}}.</h2>
    <p>You requested to reset password.</p>
    <p>Please, click in the link below to change your password</p>
    <a href="{{link}}">Reset password</a>
  </body>
</html>
